@charset "UTF-8";
/*! このcssはsass（sass/同名の.scssファイル）からコンパイルされています。修正時はこのcssを直接いじらないようにお願いします  */
.wp-block {
  /*文字が書ける幅を広げる*/
  max-width: 720px;
}

.block-library-html__edit .block-editor-plain-text {
  font-family: Menlo, Consolas, monaco, monospace;
  color: #1e1e1e;
  padding: 0.8em 1em;
  border: 1px solid #ddd;
  border-radius: 4px;
  max-height: 500px;
  font-size: 16px;
}

.editor-styles-wrapper p {
  font-size: inherit;
  line-height: inherit;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.wp-block-freeform.block-library-rich-text__tinymce a {
  color: #000;
}

/*html {
  font-size: 62.5%;
  @include media-tab {
    font-size: 56%; //90%
  }
}*/
body {
  font-family: "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, sans-serif;
  font-weight: 500;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  color: #333333;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
  font-size: 16px;
  letter-spacing: 0.05em;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}
@media only screen and (max-width: 1024px) {
  img {
    border: 0;
    max-width: 100%;
    height: auto;
  }
}

a {
  color: #333333;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
a:hover {
  opacity: 0.7;
}
a img {
  border: none;
}

i {
  padding: 0 5px;
}

ul {
  letter-spacing: -1em;
}
ul li {
  letter-spacing: 0;
  list-style: none;
}

.pc {
  display: block;
}
@media only screen and (max-width: 1024px) {
  .pc {
    display: none;
  }
}

.tablet {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .tablet {
    display: block;
  }
}
@media only screen and (max-width: 600px) {
  .tablet {
    display: none;
  }
}

.sp {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .sp {
    display: block;
  }
}

.ssp {
  display: none;
}
@media only screen and (max-width: 600px) {
  .ssp {
    display: block;
  }
}

/*PC改行加える*/
.br-pc {
  display: inherit;
}
@media only screen and (max-width: 1024px) {
  .br-pc {
    display: none;
  }
}

/*PC改行無効*/
.br_sp {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .br_sp {
    display: block;
  }
}

.br_ssp {
  display: none;
}
@media only screen and (max-width: 600px) {
  .br_ssp {
    display: block;
  }
}

/************************************

wrapper

************************************/
.wrapper {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}
.wrapper::after {
  content: "";
  display: block;
  clear: both;
}
.wrapper_m {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
}
.wrapper_m::after {
  content: "";
  display: block;
  clear: both;
}
.wrapper_s {
  max-width: 720px;
  width: 90%;
  margin: 0 auto;
}
.wrapper_s::after {
  content: "";
  display: block;
  clear: both;
}
/************************************

.list(flexbox)

************************************/
.list {
  display: block;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.list::after {
  content: "";
  display: block;
  clear: both;
}
.list article {
  width: auto;
}

/************************************

scroll transition

************************************/
/*フェードイン表示*/
.fadein {
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.fadein:not(:target) {
  opacity: 1\9 ;
  /*IE9対策*/
}

.mv_fadein {
  opacity: 1;
}

/*移動＋フェードイン表示*/
.fadeup {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
  transform: translate(0, 60px);
  -webkit-transform: translate(0, 60px);
}

.fadeup:not(:target) {
  opacity: 1\9 ;
  /*IE9対策*/
}

.mv_fadeup {
  opacity: 1;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}

/************************************

header

************************************/
header {
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: #fff;
  text-align: left;
  z-index: 100;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media only screen and (max-width: 1024px) {
  header {
    height: 60px;
  }
}
header .container {
  width: 94%;
  max-width: 94%;
  margin: 0px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 1024px) {
  header .container {
    width: calc(97% - 50px);
    margin: 12px 50px 0 3%;
  }
}
header h1 {
  width: 170px;
  margin: 0px 0 0;
}
@media only screen and (max-width: 1024px) {
  header h1 {
    width: 130px;
    margin: 0px 0 0;
  }
}
header h1 a {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  display: block;
  height: 0;
  width: 100%;
  padding-top: 23.5%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  header h1 a {
    background-image: url("../images/logo@2x.png");
  }
}
header nav {
  width: calc(100% - 360px);
}
@media only screen and (max-width: 1024px) {
  header nav {
    display: none;
  }
}
header nav ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
header nav ul.menu li {
  font-size: 14px;
  line-height: 80px;
  letter-spacing: 0.08em;
  font-weight: bold;
  margin: 0 20px;
}
@media only screen and (max-width: 1020px) {
  header nav ul.menu li {
    margin: 0 10px;
  }
}
header nav ul.menu li a {
  display: block;
}
header .contact {
  width: 170px;
  text-align: center;
  margin: 0px 0 0;
}
@media only screen and (max-width: 1024px) {
  header .contact {
    width: 130px;
    margin: 0px 0 0;
  }
}
header .contact a {
  color: #fff;
  width: 100%;
  display: block;
  border-radius: 2em;
  padding: 12px 0;
  font-size: 14px;
  font-weight: bold;
  background-color: #fc271e;
  padding-left: 24px;
  position: relative;
  background-image: -webkit-gradient(linear, right top, left top, from(#fc271e), to(#ff6623));
  background-image: linear-gradient(to left, #fc271e 0%, #ff6623 100%);
}
@media only screen and (max-width: 1024px) {
  header .contact a {
    font-size: 12px;
    padding: 8px 0 8px 8px;
  }
}
header .contact a::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 20px;
  width: 20px;
  height: 20px;
  background-image: url("../images/mark_mail@2x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  content: "";
}
@media only screen and (max-width: 1024px) {
  header .contact a::before {
    left: 12px;
    width: 14px;
    height: 14px;
  }
}

/************************************

submenu

************************************/
#submenu {
  position: fixed;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-image: url("../images/submenu_back@2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 3;
}
#submenu.open {
  height: 100vh;
  opacity: 1;
}
@media only screen and (max-width: 1024px) {
  #submenu.open {
    display: none;
  }
}
#submenu a {
  color: #fff;
}
#submenu .sub_container {
  max-width: 900px;
  width: 90%;
  height: auto;
  margin: 180px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#submenu .waku {
  width: 46%;
  margin: 0 2%;
}
#submenu h3 {
  font-size: 14px;
  text-align: center;
}
#submenu h2 {
  margin: 10px auto 20px;
  max-width: 280px;
}
#submenu h2 a {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  display: block;
  height: 0;
  width: 100%;
  padding-top: 32.15%;
}
#submenu .jissun h2 a {
  background-image: url("../images/submenu_jissun.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  #submenu .jissun h2 a {
    background-image: url("../images/submenu_jissun@2x.png");
  }
}
#submenu .jissun3d h2 a {
  background-image: url("../images/submenu_jissun3d.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  #submenu .jissun3d h2 a {
    background-image: url("../images/submenu_jissun3d@2x.png");
  }
}
#submenu .plusone h2 a {
  background-image: url("../images/submenu_plusone.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  #submenu .plusone h2 a {
    background-image: url("../images/submenu_plusone@2x.png");
  }
}
#submenu .jissun3d {
  margin-bottom: 40px;
}
#submenu h4 {
  font-family: "游明朝", "YuMincho", "Hiragino Mincho ProN", "HGS明朝E", serif;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  line-height: 1.7;
}
#submenu ul.menu_sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px auto 0;
  max-width: 350px;
}
#submenu ul.menu_sub li {
  width: 50%;
  padding-left: 20px;
  position: relative;
  font-size: 15px;
  margin: 0 0 10px;
  text-align: left;
  font-weight: bold;
}
#submenu ul.menu_sub li a {
  background-color: #fff;
  color: #001c4a;
  display: block;
  text-align: center;
  padding: 7px 0;
  border-radius: 2em;
}

/************************************

submenu_cr

************************************/
.submenu_cr {
  position: fixed;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-image: url("../images/submenu_back@2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 3;
}
.submenu_cr.open {
  height: 150px;
  opacity: 1;
}
@media only screen and (max-width: 1024px) {
  .submenu_cr.open {
    display: none;
  }
}
.submenu_cr a {
  color: #fff;
}
.submenu_cr .sub_container {
  max-width: 900px;
  width: 90%;
  height: auto;
  margin: 100px auto 0;
}
.submenu_cr ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.submenu_cr ul li {
  margin: 0 30px;
  font-weight: bold;
  padding-left: 18px;
  position: relative;
  font-size: 15px;
}
.submenu_cr ul li::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0px;
  font-family: "FontAwesome";
  content: "\f105";
}

/************************************

footer

************************************/
footer {
  background-color: #f2f2f2;
  padding: 60px 0;
}
@media only screen and (max-width: 1024px) {
  footer {
    padding: 40px 0;
  }
}
footer .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 20px;
}
@media only screen and (max-width: 1024px) {
  footer .title {
    display: block;
  }
}
footer .title h2 {
  width: 170px;
  margin: 0px auto;
}
footer .title h2 a {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  display: block;
  height: 0;
  width: 100%;
  padding-top: 23.5%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  footer .title h2 a {
    background-image: url("../images/logo@2x.png");
  }
}
footer .title .tel {
  font-size: 24px;
  font-family: "Rubik", sans-serif;
  width: calc(100% - 170px - 290px - 20px);
  text-align: right;
  margin: 0 20px 0 0;
}
@media only screen and (max-width: 1024px) {
  footer .title .tel {
    width: 100%;
    text-align: center;
    margin: 20px 0 10px;
  }
}
footer .title .contact {
  width: 290px;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  footer .title .contact {
    margin: 0 auto;
    width: 220px;
  }
}
footer .title .contact a {
  color: #fff;
  width: 100%;
  display: block;
  border-radius: 2em;
  padding: 20px 0;
  font-size: 15px;
  font-weight: bold;
  background-color: #fc271e;
  padding-left: 24px;
  position: relative;
  background-image: -webkit-gradient(linear, right top, left top, from(#fc271e), to(#ff6623));
  background-image: linear-gradient(to left, #fc271e 0%, #ff6623 100%);
}
@media only screen and (max-width: 1024px) {
  footer .title .contact a {
    padding: 12px 0 12px 14px;
    font-size: 14px;
  }
}
footer .title .contact a::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 20px;
  width: 20px;
  height: 20px;
  background-image: url("../images/mark_mail@2x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  content: "";
}
footer nav {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 20px 0;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer nav dl {
  width: 48%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media only screen and (max-width: 1024px) {
  footer nav dl {
    width: 100%;
    margin: 0;
  }
}
footer nav dt {
  width: 20%;
  margin: 0 5% 0 0;
}
@media only screen and (max-width: 600px) {
  footer nav dt {
    width: 30%;
  }
}
footer nav dt a {
  background-color: #fff;
  display: block;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding: 5px;
}
footer nav dd {
  width: 75%;
  margin: 0 0 0 0;
}
@media only screen and (max-width: 1024px) {
  footer nav dd {
    margin: 0 0 12px;
  }
}
@media only screen and (max-width: 600px) {
  footer nav dd {
    width: 65%;
  }
}
footer nav h3 {
  font-size: 14px;
  padding-left: 12px;
  position: relative;
  margin: 5px 0;
}
@media only screen and (max-width: 1024px) {
  footer nav h3 {
    margin: 5px 0 10px;
  }
}
footer nav h3::before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "-";
}
footer nav ul.sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px 0;
}
footer nav ul.sub li {
  font-size: 14px;
  padding: 0 18px 0 12px;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  footer nav ul.sub li {
    margin-bottom: 10px;
  }
}
footer nav ul.sub li::before {
  position: absolute;
  top: 0px;
  right: 0px;
  content: "/";
}
footer nav ul.menu {
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer nav ul.menu li {
  font-size: 14px;
  padding: 0 18px 0 12px;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  footer nav ul.menu li {
    margin-bottom: 10px;
  }
}
footer nav ul.menu li::before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "-";
}
footer .list {
  padding: 20px 0 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .list article {
  width: 30%;
  text-align: left;
}
@media only screen and (max-width: 600px) {
  footer .list article {
    width: 100%;
    margin: 0 0 20px;
    text-align: center;
  }
}
footer .list article h3 {
  font-size: 15px;
  margin: 0 0 5px;
}
footer .list article p {
  font-size: 14px;
  line-height: 1.8;
}
footer .copyright {
  font-size: 10px;
  letter-spacing: 0.2em;
}

/************************************

PageUP

************************************/
#pageup {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 0;
  right: 0;
  z-index: 10;
  font-size: 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media only screen and (max-width: 1024px) {
  #pageup {
    bottom: 0px;
    right: 0px;
    font-size: 4px;
  }
}
#pageup.none {
  display: none;
}
#pageup a {
  width: 50px;
  display: block;
  text-decoration: none;
  line-height: 100%;
  color: #333;
}
#pageup i {
  font-size: 40px;
  line-height: 0.8;
}
@media only screen and (max-width: 1024px) {
  #pageup i {
    font-size: 36px;
  }
}

/************************************

main

************************************/
main {
  display: block;
  padding-top: 80px;
}
@media only screen and (max-width: 1024px) {
  main {
    padding-top: 60px;
  }
}

section {
  /*
    opacity: 0;
    transform: translate(0, 60px);
    -webkit-transform: translate(0, 60px);
    transition: 1s;
    &.mv07 {
      opacity: 1;
      transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
    }*/
}
section .white,
section .gray {
  padding: 80px 0;
}
@media only screen and (max-width: 1024px) {
  section .white,
section .gray {
    padding: 50px 0;
  }
}
section .white {
  background-color: #fff;
}
section .gray {
  background-color: #f2f2f2;
}

/************************************

main common

************************************/
.pagetitle {
  text-align: center;
  position: relative;
}
.pagetitle .white {
  padding-top: 40px;
}
@media only screen and (max-width: 1024px) {
  .pagetitle .white {
    padding-top: 20px;
  }
}
.pagetitle .title {
  display: inline-block;
}
.pagetitle .title a {
  display: block;
}
.pagetitle .eng {
  font-family: "Rubik", sans-serif;
  font-size: 34px;
  line-height: 1;
  display: block;
  position: relative;
  padding: 0 0 10px;
  margin: 0 auto 10px;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-indent: 0.2em;
}
@media only screen and (max-width: 1024px) {
  .pagetitle .eng {
    font-size: 26px;
    padding: 0 0 5px;
    margin: 0 auto 5px;
  }
}
.pagetitle .eng::before {
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0;
  margin: auto;
  width: 125px;
  height: 1px;
  background-color: #ccc;
  content: "";
}
.pagetitle h1, .pagetitle .japanese {
  font-size: 15px;
  letter-spacing: 0.2em;
  text-indent: 0.2em;
  font-weight: 600;
}
.pagetitle.pagetitle_image .white {
  padding-top: 0px;
  padding-bottom: 0px;
}
.pagetitle.pagetitle_image .title {
  position: absolute;
  top: -120px;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  width: 100%;
}
@media only screen and (max-width: 1024px) {
  .pagetitle.pagetitle_image .title {
    top: -80px;
  }
}
.pagetitle.pagetitle_image .title .title2 {
  display: inline-block;
  background-color: #fff;
  padding: 40px 80px;
}
@media only screen and (max-width: 1024px) {
  .pagetitle.pagetitle_image .title .title2 {
    padding: 30px 7%;
  }
}

.midashi1 {
  font-size: 28px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  position: relative;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  .midashi1 {
    font-size: 24px;
    margin-bottom: 40px;
    padding-bottom: 15px;
  }
}
.midashi1::before {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0px;
  margin: auto;
  width: 100px;
  height: 3px;
  background-color: #0ab1bc;
  content: "";
}

h1, h2, h3 {
  font-weight: 700;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0.08em;
}

h3 {
  margin: 0;
}

p {
  text-align: left;
  line-height: 1.8;
  margin: 0;
}

.bt a {
  display: inline-block;
  margin: 0 5px;
  padding: 12px 50px;
  position: relative;
  color: #fff !important;
  font-weight: bold;
  border-radius: 2em;
  background-image: -webkit-gradient(linear, right top, left top, from(#53e0ed), to(#0ab1bc));
  background-image: linear-gradient(to left, #53e0ed 0%, #0ab1bc 100%);
}
.bt a::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 20px;
  width: 15px;
  height: 15px;
  background-image: url("../images/mark_yaji_r.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  content: "";
}

.kihon_table {
  border-top: 1px solid #ccc;
}
.kihon_table dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  text-align: left;
  line-height: 1.8;
}
.kihon_table dt, .kihon_table dd {
  padding: 15px;
}
@media only screen and (max-width: 1024px) {
  .kihon_table dt, .kihon_table dd {
    padding: 10px;
  }
}
.kihon_table dt {
  width: 25%;
  background-color: #f2f2f2;
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
  .kihon_table dt {
    width: 100%;
  }
}
.kihon_table dt .hissu {
  background-color: #0ab1bc;
  color: #fff;
  border-radius: 3px;
  font-size: 11px;
  line-height: 1;
  padding: 3px 5px;
  margin-left: 5px;
  display: inline-block;
}
.kihon_table dd {
  width: 75%;
}
@media only screen and (max-width: 600px) {
  .kihon_table dd {
    width: 100%;
  }
}
.kihon_table dd article {
  margin: 0 0 15px;
}
.kihon_table dd article:last-child {
  margin: 0;
}
.kihon_table dd h3 {
  font-size: 16px;
}

/************************************

wp-pagenavi

************************************/
.navi {
  width: 100%;
  clear: both;
}

.navi:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.navi .list_top {
  display: none;
}

.wp-pagenavi {
  text-align: center;
  font-size: 75%;
  padding: 20px 0;
  width: 100%;
}

.navi a {
  padding: 10px;
  text-decoration: none;
}

.wp-pagenavi span {
  padding: 10px;
}

.current {
  font-weight: bold;
  font-size: 110%;
}

@media only screen and (max-width: 1024px) {
  .navi {
    position: relative;
    margin: 0;
    width: 100%;
  }

  .wp-pagenavi {
    text-align: center;
    font-size: 75%;
    margin: 20px 0;
  }

  .wp-pagenavi a {
    position: absolute;
    font-size: 14px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 33%;
    display: inline-block;
  }

  .navi .list_top {
    display: block;
  }

  .navi .list_top a {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 33%;
    font-size: 14px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
  }

  .wp-pagenavi .previouspostslink {
    top: 0;
    left: 0;
  }

  .wp-pagenavi .nextpostslink {
    top: 0;
    right: 0;
  }

  .navi a:before {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0;
    margin: auto;
    font: 14px "FontAwesome";
  }

  .wp-pagenavi a.previouspostslink:before {
    content: "\f104";
  }

  .wp-pagenavi a.nextpostslink:before {
    content: "\f105";
  }

  .navi .list_top a:before {
    content: "\f106";
  }

  .wp-pagenavi .pages, .wp-pagenavi .extend, .wp-pagenavi .smaller, .wp-pagenavi .larger, .wp-pagenavi .first, .wp-pagenavi .last, .wp-pagenavi .current {
    display: none;
  }
}
/************************************

nav_single

************************************/
.nav_single {
  clear: both;
  text-align: center;
  font-size: 80%;
  padding: 20px 0;
}

.nav_single a {
  padding: 20px;
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  .nav_single {
    margin: 0 8%;
    width: 84%;
  }

  .nav_single a {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 5px 0px;
    width: 30%;
    display: inline-block;
    margin: 1%;
    /*全体角丸*/
    border-radius: 3px;
    /* CSS3草案 */
    -webkit-border-radius: 3px;
    /* Safari,Google Chrome用 */
    -moz-border-radius: 3px;
    /* Firefox用 */
  }
}
/************************************

#company_banner

************************************/
#company_banner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#company_banner ul li {
  width: 48%;
  margin: 1%;
}
@media only screen and (max-width: 600px) {
  #company_banner ul li {
    width: 100%;
    margin: 1% 0;
  }
}

/************************************

.inpagenavi

************************************/
.inpagenavi {
  margin: 30px 0 0;
}
.inpagenavi ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (max-width: 1024px) {
  .inpagenavi ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.inpagenavi ul li {
  margin: 5px 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  .inpagenavi ul li {
    width: 48%;
    margin: 1%;
    font-size: 14px;
  }
}
@media only screen and (max-width: 600px) {
  .inpagenavi ul li {
    width: 100%;
    margin: 0 auto 5px;
    max-width: 290px;
  }
}
.inpagenavi ul li a {
  background-image: -webkit-gradient(linear, right top, left top, from(#91dce1), to(#c2f4f9));
  background-image: linear-gradient(to left, #91dce1 0%, #c2f4f9 100%);
  display: block;
  border-radius: 2em;
  padding: 10px 40px 10px 30px;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  .inpagenavi ul li a {
    padding: 10px 20px 10px 10px;
  }
}
.inpagenavi ul li a::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 20px;
  font-family: "FontAwesome";
  color: #0ab1bc;
  content: "\f105";
}

/************************************

common

************************************/
.entry {
  text-align: left;
}
.entry h1 {
  font-size: 26px;
  line-height: 1.5;
  margin: 0 0 40px;
}
.entry h2 {
  font-size: 20px;
  line-height: 1.5;
  margin: 0 0 1.5em;
  background-color: #f2f2f2;
  padding: 20px;
}
.entry h3 {
  font-size: 20px;
  line-height: 1.5;
  margin: 0 0 1em;
  border-bottom: 2px solid #0ab1bc;
  padding-bottom: 5px;
}
.entry h4 {
  font-size: 20px;
  line-height: 1.5;
  margin: 0 0 1em;
}
.entry h5 {
  font-size: 18px;
  line-height: 1.5;
  margin: 0 0 1em;
}
.entry p {
  font-size: 16px;
  line-height: 2;
  margin: 0 0 1em;
}
.entry p a {
  text-decoration: underline;
}
.entry img {
  margin: 0 0 1em;
}
.entry ul {
  font-size: 16px;
  line-height: 1.7;
  margin: 0 0 1em;
}
.entry ul li {
  position: relative;
  padding: 0 0 10px 20px;
}
.entry ul li a {
  text-decoration: underline;
}
.entry ul li::before {
  position: absolute;
  top: 0;
  left: 0px;
  content: "-";
}
.entry ol {
  font-size: 16px;
  line-height: 1.7;
  margin: 0 0 1em 20px;
}
.entry ol li {
  position: relative;
  padding: 0 0 10px 0;
}
.entry ol li a {
  text-decoration: underline;
}
.entry blockquote {
  border: 1px dotted #ccc;
  padding: 4%;
  margin: 0 0 1em;
  line-height: 1.8;
}
.entry blockquote a {
  text-decoration: underline;
}

@media only screen and (max-width: 1024px) {
  .wp-block-table {
    font-size: 15px;
  }
}
.wp-block-table table {
  border: 0;
  border-collapse: collapse;
}
.wp-block-table th {
  padding: 0.5em;
  border: 1px solid #ccc;
  word-break: normal;
  background-color: #e8f8f9;
}
.wp-block-table td {
  padding: 0.5em;
  border: 1px solid #ccc;
  word-break: normal;
  text-align: center;
}
.wp-block-table figcaption {
  margin: 10px 0 0;
  text-align: left;
}

.grecaptcha-badge {
  visibility: hidden;
}

/************************************

raf

************************************/
.raf {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.raf img {
  width: 100%;
  height: auto;
}

.raf a:hover {
  opacity: 1;
}

.alignright {
  float: right;
  margin: 0 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 0 20px 20px 0;
}

.aligncenter {
  margin: 0 auto 20px auto;
  display: block;
}

h2 {
  font-size: 20px;
  line-height: 1.5;
  margin: 0 0 1.5em;
  background-color: #f2f2f2;
  padding: 20px;
}

h3 {
  font-size: 20px;
  line-height: 1.5;
  margin: 0 0 1em;
  border-bottom: 2px solid #0ab1bc;
  padding-bottom: 5px;
}

h4 {
  font-size: 20px;
  line-height: 1.5;
  margin: 0 0 1em;
}

p {
  font-size: 16px;
  line-height: 2;
  margin: 0 0 1em;
}

img {
  margin: 0 0 1em;
}

ul {
  font-size: 16px;
  line-height: 1.7;
  margin: 0 0 1em;
}

.editor-styles-wrapper ul li {
  position: relative;
  padding: 0 0 10px 20px;
  list-style: disc !important;
}

ul li::before {
  position: absolute;
  top: 0;
  left: 0px;
  content: "-";
}

ol {
  font-size: 16px;
  line-height: 1.7;
  margin: 0 0 1em 20px;
}

ol li {
  position: relative;
  padding: 0 0 10px 0;
}

blockquote {
  border: 1px dotted #ccc;
  padding: 4%;
  margin: 0 0 1em;
  line-height: 1.8;
}

a {
  text-decoration: underline;
}
/*# sourceMappingURL=maps/editor-style-post.css.map */